@import "tailwindcss";

@font-face {
  font-family: "MainFont";
  src: url("./assets/fonts/Nunito-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MainFont";
  src: url("./assets/fonts/Nunito-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "MainFont";
  src: url("./assets/fonts/Nunito-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MainFont";
  src: url("./assets/fonts/Nunito-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MainFont";
  src: url("./assets/fonts/Nunito-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-main: "MainFont", sans-serif;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant md {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 50px;
  }

  @variant xl {
    padding-inline: 80px;
  }
}

* {
  font-size: 16px;
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-menu,
.ant-table,
.ant-modal,
.ant-form {
  font-family: "MainFont" !important;
}

.ant-select-selection-placeholder {
  font-size: 14px !important;
}

.ant-select-option,
.ant-select-item-option-content,
.ant-select-selection-item {
  font-size: 14px !important;
}
